flows.json
[{"id":"2436faf3.d31286","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"f31856d5.45c668","type":"ui_form","z":"2436faf3.d31286","name":"","label":"","group":"1d08ff36.0b49e1","order":0,"width":0,"height":0,"options":[{"label":"Avg. Area Income\t","value":"a","type":"number","required":true,"rows":null},{"label":"USAhousing.describe()","value":"b","type":"number","required":true,"rows":null},{"label":"Avg. Area Number of Rooms\t","value":"c","type":"number","required":true,"rows":null},{"label":"Avg. Area Number of Bedrooms\t","value":"d","type":"number","required":true,"rows":null},{"label":"Area Population\t","value":"e","type":"number","required":true,"rows":null}],"formValue":{"a":"","b":"","c":"","d":"","e":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":70,"y":100,"wires":[["200b25ef.2bb99a"]]},{"id":"200b25ef.2bb99a","type":"function","z":"2436faf3.d31286","name":"pre token","func":"//make user given values as global variables\nglobal.set(\"a\",msg.payload.a);\nglobal.set(\"b\",msg.payload.b);\nglobal.set(\"c\",msg.payload.c);\nglobal.set(\"d\",msg.payload.d);\nglobal.set(\"e\",msg.payload.e);\n\n//following are required to receive a token\nvar apikey=\"\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"};\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey};\nreturn msg;\n","outputs":1,"noerr":0,"x":220,"y":100,"wires":[["3f7ca091.45574"]]},{"id":"dc3ddbe.93ca228","type":"http request","z":"2436faf3.d31286","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://eu-gb.ml.cloud.ibm.com/v3/wml_instances/49ce4d88-e945-459f-b218-d599bbb82c1e/deployments/de326b80-8a5b-4eb6-8048-8ae1f7d7cd67/online","tls":"","persist":false,"proxy":"","authType":"","x":470,"y":180,"wires":[["96f49948.b83db8","b1b5847e.6f5248"]]},{"id":"83669d5d.d9813","type":"debug","z":"2436faf3.d31286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"b1b5847e.6f5248","type":"function","z":"2436faf3.d31286","name":"getFrom Endpoint","func":"msg.payload=msg.payload.values[0][0];\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":280,"wires":[["83669d5d.d9813","b6972ed0.8c7e"]]},{"id":"96f49948.b83db8","type":"debug","z":"2436faf3.d31286","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":790,"y":120,"wires":[]},{"id":"e1ca6b8d.350008","type":"function","z":"2436faf3.d31286","name":"sendTo Endpoint","func":"//get token and make headers\nvar token=msg.payload.access_token;\nvar instance_id=\"49ce4d88-e945-459f-b218-d599bbb82c1e\"\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"ML-Instance-ID\":instance_id}\n\n//get variables that are set earlier\nvar a = global.get(\"a\");\nvar b = global.get(\"b\");\nvar c = global.get(\"c\");\nvar d = global.get(\"d\");\nvar e = global.get(\"e\");\n\n//send the user values to service endpoint\nmsg.payload = \n{\"fields\":[\"Avg. Area Income\",\"Avg. Area House Age\",\n\"Avg. Area Number of Rooms\",\n\"Avg. Area Number of Bedrooms\",\n\"Area Population\"],\n\"values\":[[a,b,c,d,e]]};\n\nreturn msg;\n","outputs":1,"noerr":0,"x":210,"y":180,"wires":[["dc3ddbe.93ca228"]]},{"id":"3f7ca091.45574","type":"http request","z":"2436faf3.d31286","name":"","method":"POST","ret":"obj","paytoqs":false,"url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":370,"y":100,"wires":[["e1ca6b8d.350008"]]},{"id":"b6972ed0.8c7e","type":"ui_text","z":"2436faf3.d31286","group":"1d08ff36.0b49e1","order":1,"width":0,"height":0,"name":"","label":"Prediction","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":400,"wires":[]}]